@import './styles/reset.css';

#app {
  font-family: 'M PLUS 1p', sans-serif;
  color: #1B1B1B;
  margin: 2rem auto 0;
  width: 80%;
  max-width: 1200px;

  h1 {
    font-size: 28px;
    margin-bottom: 4rem;
    line-height: 2rem;
    font-weight: 300;
  }

  h2 {
    font-size: 28px;
    // margin-bottom: 1rem;
    margin-bottom: 4px;
    line-height: 2rem;
    font-weight: 300;
  }

  h3 {
    font-size: 14px;
    margin-bottom: 0.4rem;
    line-height: 1rem;
    font-weight: 300;
  }

  button {
    border: none;
    cursor: pointer;
    font-family: 'M PLUS 1p', sans-serif;
    font-size: inherit;

    &:focus {
      outline: none;
      color: #3897ff;
    }

    &:hover {
      color: #888;
    }
  }

  .container {
    position: relative;

    #map, #video {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    #map {
      top: 72px;

      circle {
        fill: red;
        stroke: white;
        stroke-opacity: 1;
        cursor: pointer;
      }
  
      path {
        fill: transparent;
        stroke: #111;
      }
    }
  
    #video {
      width: 100%;
      height: 600px;
      background: white;

      #player {
        margin: 1.2rem auto;
      }

      .close {
        float: right;
        font-size: 40px;
        line-height: 24px;
        color: #888;
      }

      .date {
        font-size: 11px;
        color: #888;
      }
    }
  }
}
